<!DOCTYPE html>
<html lang="en">
  <%- include("inc/head") -%> 

<body>
   
      
    <header>
      <div class="header">
  
        <div class="logo">
          <div class="logo-img"></div>
        </div>
        
        <div class="menu" id="menu-opener">
          <img class="menu-opener" src="assets/images/menu.png" alt="">
          <nav id="opener-mobile">
              <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/about">About Us</a></li>
                <li class="active"><a href="/services">Services</a></li>
                <li><a href="/contact">Contact Us</a></li>
              </ul>
          </nav>  
        </div>
      </div>
      </header>

        <main>
          <section class="banner">

            <div class="slides">
              <input type="radio" name="slide" id="slide1" checked>
              <input type="radio" name="slide" id="slide2">
              <input type="radio" name="slide" id="slide3">
          
    
            <div class="slide s1">
              <div class="slidearea">
                <h1>Desing is<br/><span>Communication</span></h1>
                <h2>Call Us: +0 00 1234 5678</h2>
                 <a href="/about">About</a>
               </div>
            </div>
    
            <div class="slide">
              <div class="slidearea">
                <h1>Desing<br/><span>Contact</span></h1>
                <h2>Call Us: +0 00 1234 5678</h2>
                <a href="/contact">Contact</a>
               </div>
            </div>
    
            <div class="slide">
              <div class="slidearea">
                <h1>Desing and About<br/><span>services</span></h1>
                <h2>Call Us: +0 00 1234 5678</h2>
                <a href="/services">Services</a>
               </div>
            </div>
    
            <div class="navigation-auto">
              <label class="bar1" for="slide1"></label>
              <label class="bar2" for="slide2"></label>
              <label class="bar3" for="slide3"></label>
            </div>
    
            <div class="navigation">
              <label class="bar1" for="slide1"></label>
              <label class="bar2" for="slide2"></label>
              <label class="bar3" for="slide3"></label>
      
            </div>
        </section>

            <section class="default dark">
                <div class="section-title">Services</div>
                <div class="section-desc">Services that we provide</div>
                <div class="section-body">
                   <div class="section-services">
                      <div class="section-service">
                        <img src="assets/images/medalha.png" alt=""/>
                          <h4>High Quality Desing</h4>
                          <p>Lorem ipsum dolor sit amet.</p>
                      </div>
      
                      <div class="section-service">
                        <img src="assets/images/estrela.png" alt=""/>
                          <h4>Modern Desing</h4>
                          <p>Lorem, ipsum dolor sit amet consectetur..</p>
                      </div>
      
                      <div class="section-service">
                        <img src="assets/images/relogio.png" alt=""/>
                          <h4>High Quality Desing</h4>
                          <p>Lorem ipsum dolor sit amet.</p>
                      </div>
      
                      <div class="section-service">
                        <img src="assets/images/balao.png" alt=""/>
                          <h4>Fast and free support</h4>
                          <p>Lorem ipsum dolor sit amet dolor.</p>
                      </div>
                   </div>
                </div>
              </section>
      
            <section class="default light">
          <div class="section-title">Our projects</div>
          <div class="section-desc">What we create</div>
          <div class="section-body">
            <div class="section-projects">
              <div class="section-projects--filters"  id="projects-filters">
                 <ul data-anime="right">
                    <li class="active">Photos</li>
                 </ul>
              </div>

              <div class="section-projects--photos">
                <div class="section-projects--photo" data-anime="right">
                  <div class="section-projects--photoarea">
                    <div class="section-projects--photoinfo">
                      <h5>About</h5>
                      <p>Lorem ipsum dolor sit.</p>
                    </div>
                    <img src="media/foto1.jpg" alt="" />
                  </div>
                </div>

                <div class="section-projects--photo" data-anime="right">
                  <div class="section-projects--photoarea">
                    <div class="section-projects--photoinfo"></div>
                    <img src="media/foto2.jpg" alt="" />
                  </div>
                </div>

                <div class="section-projects--photo" data-anime="right">
                  <div class="section-projects--photoarea">
                    <div class="section-projects--photoinfo"></div>
                    <img src="media/foto3.jpg" alt="" />
                  </div>
                </div>

                <div class="section-projects--photo" data-anime="right">
                  <div class="section-projects--photoarea">
                    <div class="section-projects--photoinfo"></div>
                    <img src="media/foto4.jpg" alt="" />
                  </div>
                </div>

                <div class="section-projects--photo" data-anime="right">
                  <div class="section-projects--photoarea">
                    <div class="section-projects--photoinfo"></div>
                    <img src="media/foto5.jpg" alt="" />
                  </div>
                </div>

                <div class="section-projects--photo" data-anime="right">
                  <div class="section-projects--photoarea">
                    <div class="section-projects--photoinfo"></div>
                    <img src="media/foto6.jpg" alt="" />
                  </div>
                </div>

                <div class="section-projects--photo" data-anime="left">
                  <div class="section-projects--photoarea">
                    <div class="section-projects--photoinfo"></div>
                    <img src="media/foto1.jpg" alt="" />
                  </div>
                </div>

                <div class="section-projects--photo" data-anime="left">
                  <div class="section-projects--photoarea">
                    <div class="section-projects--photoinfo"></div>
                    <img src="media/foto2.jpg" alt="" />
                  </div>
                </div>

                <div class="section-projects--photo" data-anime="left">
                  <div class="section-projects--photoarea">
                    <div class="section-projects--photoinfo"></div>
                    <img src="media/foto3.jpg" alt="" />
                  </div>
                </div>

                <div class="section-projects--photo" data-anime="left">
                  <div class="section-projects--photoarea">
                    <div class="section-projects--photoinfo"></div>
                    <img src="media/foto4.jpg" alt="" />
                  </div>
                </div>

                <div class="section-projects--photo" data-anime="left">
                  <div class="section-projects--photoarea">
                    <div class="section-projects--photoinfo"></div>
                    <img src="media/foto5.jpg" alt="" />
                  </div>
                </div>

                <div class="section-projects--photo" data-anime="left">
                  <div class="section-projects--photoarea">
                    <div class="section-projects--photoinfo"></div>
                    <img src="media/foto6.jpg" alt="" />
                  </div>
                </div>
                <a href="https://github.com/pickedluffy2000">GitHub PROJECTS</a>
              </div>
            </div>
          </div>
        </section>
      
        <section class="default dark bg-team">
          <div class="section-team-area">
          <div class="section-title">Our Team</div>
          <div class="section-desc">Our Co-Workers</div>
          <div class="section-body">
             <div class="section-team">
              <div class="sliders" style="margin-left:0 ;">

                <div class="slide" data-anime="left">
                   <div class="slidearea">
                        <img class="section-team--avatar" src="media/mulher1.png" alt="">
                        <div class="section-team--name">JANE DOE</div>
                        <div class="section-team--role">Master mind</div>
                        <div class="section-team--social">
                          <a href="https://www.facebook.com/mateuswinshester100/"><img src="assets/images/facebook.png" alt=""></a>
                          <a href=""><img src="assets/images/googleplus.png" alt=""></a>
                          <a href=""><img src="assets/images/linkedin.png" alt=""></a>
                          <a href=""><img src="assets/images/pinterest.png" alt=""></a>
                            <a href=""><img src="assets/images/twitter.png" alt=""></a>
                        </div>
                   </div>
                </div>
                
                <div class="slide">
                  <div class="slidearea">
                    <img class="section-team--avatar" src="media/homem1.png" alt="">
                    <div class="section-team--name">MIKE CHILLER</div>
                    <div class="section-team--role">Creative Head</div>
                    <div class="section-team--social">
                      <a href=""><img src="assets/images/facebook.png" alt=""></a>
                      <a href=""><img src="assets/images/googleplus.png" alt=""></a>
                      <a href=""><img src="assets/images/linkedin.png" alt=""></a>
                      <a href=""><img src="assets/images/pinterest.png" alt=""></a>
                        <a href=""><img src="assets/images/twitter.png" alt=""></a>
                    </div>
               </div>
                </div>

                  <div class="slide" data-anime="left">
                    <div class="slidearea">
                      <img class="section-team--avatar" src="media/mulher2.png" alt="">
                      <div class="section-team--name">ANNA JHONS</div>
                      <div class="section-team--role">Thechnical Lead</div>
                      <div class="section-team--social">
                        <a href=""><img src="assets/images/facebook.png" alt=""></a>
                        <a href=""><img src="assets/images/googleplus.png" alt=""></a>
                        <a href=""><img src="assets/images/linkedin.png" alt=""></a>
                        <a href=""><img src="assets/images/pinterest.png" alt=""></a>
                          <a href=""><img src="assets/images/twitter.png" alt=""></a>
                      </div>
                  </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        </main>

            <footer>
              <div class="main">
                <div class="footer-links">
                  <div class="footer-company">
                    <h4>Credits for layout</h4>
                    <h6>Alexander Bukin</h6>
                  </div>
                  
                  <div class="footer-social">
                    <h4>Stay connected</h4>
                    <div class="social-icons">
                      <a href=""><img src="assets/images/twitter.png" alt=""></a>
                      <a href="https://www.facebook.com/mateuswinshester100/"><img src="assets/images/facebook.png" alt=""></a>
                    </div>
                  </div>
                  <div class="footer-contact">
                    <h4>Contact Us</h4>
                    <h6>+ 55 21 994048385</h6>
                    <h6>mateus.r2000@gmail.com</h6>
                    <h6>Rua soares d'Andreia, Rio de janeiro</h6>
                  </div>
                </div>
              </div>
              <div class="last">DevMateus 2022 - Use like you want</div>
            </footer>
          
            <script src="/js/utils/Format.js"></script>
            <script src="/js/controller/AwaxController.js"></script>
            <script src="/js/app.js"></script>
   
</body>

</html>